<div class="panel panel-default">
    <div class="panel-heading"><h2>New Badge</h2></div>
      <div class="panel-body">

        <%= render 'form' %>
      </div>
    <div class="panel-footer"><%= link_to 'Back', badges_path %></div>
</div>
