<div class="jumbotron center">

  <h1>Welcome to my awesome app!!</h1>

  <p>This is going to be a great freakin app!!</p>
  
  <p>Porchetta ribeye shank sausage venison, brisket t-bone rump pastrami ball tip beef kevin pancetta landjaeger. Kevin porchetta picanha strip steak. Frankfurter prosciutto drumstick spare ribs biltong brisket sausage hamburger tail pork loin corned beef porchetta shank swine. Rump tongue kielbasa pork ham hock, salami t-bone porchetta tail beef leberkas strip steak. Picanha pork flank, sirloin drumstick hamburger tenderloin ham shankle cupim capicola tail bacon biltong. Doner filet mignon strip steak, leberkas prosciutto pork belly rump pork chop brisket t-bone. Pastrami tail pig prosciutto, alcatra filet mignon brisket chicken doner fatback salami sausage turkey beef meatball.</p>
  <img src="http://thumbs.dreamstime.com/t/colorful-plastic-toy-blocks-isolated-white-background-38915941.jpg" class="img-rounded" alt="Responsive image">

  <h3>This is going to be a great freakin app!!</h3>
  
  <%= link_to "Join", new_user_registration_path, class: "btn btn-primary" %>
  <%= link_to "Login", new_user_session_path, class: "btn btn-success" %>
  
</div>